.default-layout {
  min-height: 100vh;
  // background-image: url(../../assets/images/background.jpg) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-color: transparent !important;
  &__footer {
    display: none;
    font-size: 14px;
    position: absolute;
    width: 100%;
    bottom: 0px;
    margin: 16 auto 0;
    padding: 8px;
    text-align: center;
    a {
      color: rgba(0, 0, 0, 0.45);
    }
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) {
      display: none;
    }
  }
}
